<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <title>Cerealously</title>
</head>
<body>
    <header>
        <div class="navbar wrapper">
            <a href="/" class="logo center">Cerealously</a>
            <ul class="links">
                <li><a href="/cereal/new" class="navlink">Add Cereal</a></li>
            </ul>
        </div>
    </header>
    {{{ body }}}
</body>
</html>