body {
    background-color: #92D7FF;
    margin: 0 auto;
}

.body-container {
    display: flex;
    flex-direction: row;
}

aside {
    width: 20%;
}

main {
    width: 80%;
}

/* Nav Bar */

a {
    color: #bc5a25;
    text-decoration: none;
}

a:hover {
    color: #FDFEC1;
    text-decoration: none;
}

.links {
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    list-style: none;
    padding: 0 15px;
    text-transform: lowercase;
}

.logo {
    color: #FFFFFF;
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    margin: 0 auto;
    text-decoration: none;
}

.logo:hover {
    color: #FFFFFF !important;
}

.navbar {
    background-color: #FFCFAD;
    border-bottom: 2px solid #bc5a25;
    display: flex;
    flex-direction: column;
    margin: 0 0 15px 0;
}

.navlink {
    padding: 0 30px;
}

/* Main Content */

.box {
    border-radius: 50%;
    height: auto;
    margin: 0 0 15px 0;
    width: 100%;
}

.buttons {
    display: flex;
    grid-column: 1 / span 2;
    grid-row: 3;
    justify-content: space-between;
}

.btn-cereal {
    color: #bc5a25;
    border: 1px solid #bc5a25;
}

.btn-cereal:hover {
    background-color: #bc5a25;
    color: #ffffff;
}

.card {
    background-color: #FDFEC1;
    border-radius: 15px;
    border: 2px #F6C7A6 solid;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 25px auto 25px;
    margin: 0 0 25px 0;
    padding: 10px 25px;
}

.card-side {
    background-color: #FDFEC1;
    border-radius: 15px;
    border: 2px #F6C7A6 solid;
    font-family: Arial, Helvetica, sans-serif;
    margin: 25px;
    padding: 0 25px;
    width: 80%;
}

.cereals {
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    padding: 0 0 15px 0;
    text-align: center;
    margin: 25px auto;
    max-width: 80%;
}

.container {
    background-color: #FDFEC1;
    border-radius: 15px;
    margin: 25px auto;
    max-width: 45%;
    padding: 0 0 2px 0;
}

.date {
    font-size: 12px;
    grid-column: 1 / span 2;
    grid-row: 1;
    text-align: left;
}

.form-container {
    margin: 0 auto;
    width: 60%;
}

h3 {
    color: #6d2d0a;
    font-family: 'Pacifico', cursive;
    font-size: 28px;
    text-align: center;
}

.inline {
    margin: 10px 0;
}

.input-field {
    color: #bc5a25;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.news {
    list-style: none;
    padding: 0 15px 15px 15px;
}

.news-at {
    font-size: 12px;
    padding: 0 0 10px 0;
}

.news-picture {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.news-title{
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
    padding: 0 0 10px 0;
}

.picture {
    grid-column: 1;
    grid-row: 2;
}

.show {
    padding: 15px;
}

.text {
    grid-column: 2;
    grid-row: 2;
    padding: 10px 25px;
    text-align: left;
}

textarea {
    border: 1px solid #bc5a25;
}

/* Footer */

footer {
    background-color: #FFCFAD;
    border-top: 2px solid #bc5a25;
    bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 15px;
    position: relative;
    text-align: center;
    width: 100%;
}

@media screen and (max-width:600px) {
    .body-container {
        display: flex;
        flex-direction: column;
    }

    aside {
        width: 100%;
    }

    main {
        width: 100% !important;
    }

    .news-picture {
        align-items: center;
        width: 50%;
        height: auto;
    }
}