<div class="container">
    <h3>What's in your bowl?</h3>
    <div class="form-container">
        <form>
            <p class="input-field">
                <b>Name</b>:<br>
                <textarea name="Cereal[name]" cols="60" rows="1" placeholder="Frosted Flakes, Chex, etc."></textarea>
            </p>
            <p class="input-field">
                <b>Brand</b>:<br>
                <textarea name="Cereal[brand]" cols="60" rows="1" placeholder="General Mills, Kellogs, etc"></textarea>
            </p>
            <p class="input-field">
                <b>Picture</b>:<br>
                <textarea name="Cereal[brand]" cols="60" rows="1" placeholder="url"></textarea>
            </p>
            <p class="input-field">
                <b>Milk</b>:<br>
                <textarea name="Cereal[milkType]" cols="60" rows="1" placeholder="2%, fat free, almond, none, etc."></textarea>
            </p>
            <p class="input-field">
                <b>Review</b>:<br>
                <textarea name="Cereal[review]" cols="60" rows="10" placeholder="What did you think? General thoughts, flavor, mouth feel, etc."></textarea>
            </p>
            <p class='input-field'>
                <input type="submit" value='Submit' class='btn-cereal'>
            </p>
        </form>
    </div>
</div>